body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
  }
  #cy {
    height: 600px;
    width: 900px;
    bottom: 0;
    right: 0;
    z-index: 999;
    position: fixed; 
    top: 100px; 
    left: 500px;
  }

  #blah {
    margin-bottom: 30px;
  }

  #leftBox {
    width: 150px;
    float: left;
}
#rightBox {
    width: 150px;
    float: left;
}

#examples {
  padding-bottom: 15px;
}
  
  h1 {
    opacity: 0.3;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 15px;
  }

  h2 {
    font-size: 30px;
    margin: 5px;
  }

  h3 {
    font-size: 20px;
    margin: 10px;
  }

  button {
    border-style: solid;
    border-radius: 5px;
    padding-left: 10px;
    border-color: lightgray;
    margin-left: 10px;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: lightblue;
    opacity: 0.3px;
  }

#inputBox {
  top: 100px; 
  left: 10px; 
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  padding-left: 10px;
  border-color: dimgray;
  overflow: hidden;
  }

* {
  font-family: sans-serif;
}
div.button {
  width: 400px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}
div.content {
  width: 380px;
  padding: 10px;
  margin-top: 0;
}
div.mywidget {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: top;
}
.hidden {
  display: none;
}

#test{
  float: left;
}

#under {
  text-decoration: underline;
}

#invisible {
  border-style: hidden;
  background-color: unset;
  text-decoration: underline;
}

#separate {
  padding-bottom: 10px;
}

#box {
  width:60px;
}

#space {
  padding-top: 15px;
  padding-bottom: 15px;
}